@font-face {
    font-family: "roboto-standard";
    src: url("/src/fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "title-standard";
    src: url("/src/fonts/DMSerifText-Regular.ttf");
}


:root{
    --base-color: white;
    --base-variant: #eeeeee;
    --text-color: black;
    --secondary-text: #333333;
    --success: #50fa7b;
    --error: #ff5555;
    --warning: #f1fa8c;
    --border-color: rgb(195, 195, 197);
    --form: #1f1f1fc9;
}

.darkmode{
    --base-color: rgb(31, 31, 31);
    --base-variant: #252525;
    --text-color: rgb(255, 255, 255);
    --secondary-text: #ffffff;
    --success: #50fa7b;
    --error: #ff5555;
    --warning: #f1fa8c;
    --border-color: rgb(58, 58, 58);
    --form: #141417C9;
}

body{
    margin: 0;
    padding: 0;
    font-family: "roboto-standard"; 
    text-align: center;
    background-color: var(--base-color);
    overflow: hidden;
}

#headerswitch{
    flex: 1; 
    display: flex;
    justify-content: flex-end;
    width: 30%;
    cursor: pointer;
}

#themeswitch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-width: 0px;
    border-radius: 50%;
    background-color: var(--base-variant);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#themeswitch svg{
    fill: var(--secondary-text)
}

#themeswitch svg:last-child{
    display: none;
}

.darkmode #themeswitch svg:first-child{
    display: none;
}

.darkmode #themeswitch svg:last-child{
    display: inline;
}

#menu{
    height: 50px;
    width: 50px;
    padding: 0;
    border-width: 0px;
    border-radius: 50%;
    background-color: var(--base-variant);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#menu svg{
    fill: var(--secondary-text)
}

#mainlogo img:last-child{
    display: none;
}

.darkmode #mainlogo img:first-child{
    display: none;
}

.darkmode #mainlogo img:last-child{
    display: inline;
}

.title{
    font-family: "title-standard";
    font-size: 7dvh;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
}

.statstitle{
    font-family: "title-standard";
    font-size: 7dvh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.paragraph{
    font-weight: bold;
    font-size: 2.5dvh;
    margin-left: 7%;
    margin-right: 7%;
}

#home{
    background: url("/src/media/download.png");
    place-items: center;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    border-width: 2px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-style: solid;
    border-color: var(--border-color);
    height: 100vh;
    margin-top: 30px;
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

#game{
    background: url("/src/media/Game.png");
    display: flex;
    gap: 20px;
    text-align: left;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    border-width: 2px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-style: solid;
    border-color: var(--border-color);
    height: 100vh;
    margin-top: 30px;
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#game div {
    flex: 1;
}
@media screen and (max-width: 910px) {
   .main-nav{
    display: none;
   }
   #game{
    flex-direction: column;
   }
   body{
    overflow-y: auto;
   }
   #themeswitch{
    display: none;
   }
   #menu{
    display: block;
   }
   .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
   } 
}

@media screen and (min-width: 910px) {
    #themeswitch{
    display: block;
   }
   #menu{
    display: none;
   }
   .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
   } 
}

.logimage{
    width: 300px;
    height: auto;
    cursor: pointer;
}
.logo{
    list-style: none;
    flex:1;
}

.logo li{
    width: 30%;
}

.main-nav{
    width: 40%;
}


a{
    font-weight: bolder;
    color: var(--text-color);
    text-decoration: none;
}

.navlinks{
    list-style: none;
    margin: 0;
    justify-content: center;
    padding: 0;
}
.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.form{
    background-color: var(--form);
    backdrop-filter: blur(50px);
    border-color: #4c4c55c9;
    border-style: solid;
    border-width: 1px;
    -ms-flex-align: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    place-self: center;
    padding-left: 30px;
    padding-right: 30px;
}

.stats{
    background-color: var(--form);
    backdrop-filter: blur(50px);
    border-color: #4c4c55c9;
    border-style: solid;
    border-width: 1px;
    -ms-flex-align: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    place-self: center;
    padding-left: 30px;
    padding-right: 30px;
}

.formgame{
    background-color: var(--form);
    backdrop-filter: blur(50px);
    border-color: #4c4c55c9;
    border-style: solid;
    border-width: 1px;
    -ms-flex-align: center;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 30%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    place-self: center;
    padding-left: 30px;
    padding-right: 30px;
}

.button-link{
  width: 100px;
}

code{
    background-color: #2525258a;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.buttoncontinue{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px; 
  text-align: left;
  transition: transform 0.2s, opacity 0.5s ease-in-out;
  font-weight: bold;
  font-size: 20px;
  color: white;
  height: 55px;
  padding-left: 15px;
  background: linear-gradient(270deg,rgba(1, 117, 204, 1) 0%, rgba(27, 161, 246, 1) 50%, rgba(13, 163, 248, 1) 100%);
  width: auto;
  margin-top: 8px;
  padding-right: 10px;
  border: 0px;
  cursor: pointer;
}

.buttonnext{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px; 
  text-align: left;
  transition: transform 0.2s, opacity 0.5s ease-in-out;
  font-weight: bold;
  font-size: 20px;
  color: white;
  height: 55px;
  padding-left: 15px;
  background: linear-gradient(270deg,rgb(55, 150, 91) 0%, rgb(70, 173, 87) 50%, rgb(88, 194, 106) 100%);
  width: auto;
  margin-top: 8px;
  padding-right: 10px;
  border: 0px;
  cursor: pointer;
}

.buttonfinish{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px; 
  text-align: left;
  transition: transform 0.2s, opacity 0.5s ease-in-out;
  font-weight: bold;
  font-size: 20px;
  color: white;
  height: 55px;
  padding-left: 15px;
  background: linear-gradient(270deg,rgb(247, 225, 83) 0%, rgb(255, 220, 64) 50%, rgb(252, 193, 105) 100%);
  width: auto;
  margin-top: 8px;
  padding-right: 10px;
  border: 0px;
  cursor: pointer;

}

.error{
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% { left: -5px; }
  100% { right: -5px; }
}

.buttoncontinue:disabled {
  cursor: not-allowed;
  opacity: 50%;
}


.buttoncontinue:enabled:hover{
  transform: scale(1.02);
}

.buttoncontinue:enabled:active{
  transform: scale(0.98); 
}

.buttoncontinue:focus {
  outline: 0px;
}

.buttonnext:disabled {
  cursor: not-allowed;
  opacity: 50%;
}


.buttonnext:enabled:hover{
  transform: scale(1.02);
}

.buttonnext:enabled:active{
  transform: scale(0.98); 
}

.buttonnext:focus {
  outline: 0px;
}

body.fade-in {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#default-input{
   border-radius: 10px; 
   font-weight: bold;
   color: white;
   background-color: #14141738;
   height: 50px;
   padding-left: 15px;
   border: 0px;
   font-size: 20px;
   width: auto;
}

#codigo{
   border-radius: 10px; 
   font-weight: bold;
   color: white;
   background-color: #14141738;
   height: 60%;
   padding-left: 15px;
   border: 0px;
   font-size: 20px;
   width: auto;
   resize: none;
   padding-top: 10px;
   padding-bottom: 10px;
}


#consola{
   border-radius: 10px; 
   font-weight: bold;
   color: rgba(255, 255, 255, 0.301);
   background-color: #14141738;
   height: 40%;
   padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 5px;
   border: 0px;
   font-size: 20px;
   width: auto;
   overflow-x: hidden;

}

#consola{
   border-radius: 10px; 
   font-weight: bold;
   color: rgba(255, 255, 255, 0.301);
   background-color: #14141738;
   height: 40%;
   padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 5px;
   border: 0px;
   font-size: 20px;
   width: auto;
   overflow-x: hidden;
}

#leaderboard{
   border-radius: 10px; 
   font-weight: bold;
   color: rgba(255, 255, 255, 0.301);
   background-color: #14141738;
   height: auto;
   padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 5px;
   border: 0px;
   font-size: 20px;
   width: auto;
}

.disable-focus:focus{
    user-select: none;
    outline-width: 0;
    outline: none;

}